<link rel="stylesheet" href="/css/toast.css">
<script src="/js/toast.js"></script>

<div class="toast-container position-absolute p-3 bottom-0 end-0">
    
    <%if(locals.flash){%>

        <%flash.forEach(f=>{%>
            
            <% let color = f.type=='success' ? 'success': 'danger'%> 
            <div class="toast align-items-center text-white bg-<%=color%> border-0" role="alert" aria-live="assertive"
            aria-atomic="true" data-bs-delay="<%= f.delay? f.delay: 5000 %>">
                <div class="d-flex">
                    <div class="toast-body">
                    <%= f.message %>
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
                </div>
            </div>

        <%})%>

    <%}%>
    
</div>