
<div>
    <h2>Welocome <%=mailData.firstName%>! Your account has been successfully created.</h2>
    <br>
    <p>Please click on link below to verify your account</p>
    <a href="<%=mailData.verificationUrl%>" > <%=mailData.verificationUrl%> </a>

    <br>
    <p><i>Thanks and Regards,</i></p>
    <p><i>Kus</i></p>
    <p><i>Developer</i></p>
</div>
