
<div>
    <h2>Welocome <%=mailData.firstName%>! Your account has been successfully created.</h2>
    <br>
    <p>Please click on link below to verify your account</p>
    <a href="<%=mailData.verificationUrl%>" > <%=mailData.verificationUrl%> </a>

    <br><br>
    <i>Thanks and Regards,</i>
    <p>Kus</p>
    <p>Developer</p>
</div>
