<div>
    <p><b>Hi user, </b></p>
    <p>Good Day!</p>

    <p>PFB password reset link.</p>
    <br>

    <a href="<%=mailData.resetUrl %>"><%=mailData.resetUrl %></a>

    <br>
    
    <p><b>NOTE: </b> Password link will expire in 5 min</p>
    
    <br>
    <p><i>Thanks and Regards,</i></p>
    <p><i>Kus</i></p>
    <p><i>Developer</i></p>
</div>
