<div>
    <p><b>Hi <%= mailData.firstName%>, </b></p>
    <p>Good Day!</p>
    <p>You password has been reset successfully.</p>
    
    <br>
    <p><i>Thanks and Regards,</i></p>
    <p><i>Kus</i></p>
    <p><i>Developer</i></p>
</div>
