<div>
    <p><b>Hi <%= mailData.firstName%>, </b></p>
    <p>Good Day!</p>
    <p>You password has been reset successfully.</p>
    
    <br>
    <i>Thanks and Regards,</i>
    <i>Kus</i>
    <i>Developer</i>
</div>
